@import "~styles/variables";

.sidebarWrapper {
  width:100%;
  max-width: $sidebar-width;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: $sidebar-background-color;
}

.sidebarContent {
  color: #e6e6e6;
  height: 100vh;
  overflow-y: scroll;
}

.navigation {
  margin: 0;
  padding: 0;

  & > div {
    padding: 1rem 1rem 0;
  }

  & h4 {
    font-size: 14px;
    font-weight: 400;
    margin: .5rem 0;
  }

  & label {
    &, & > span {
      color: #d8d8d8;
    }
  }
}
